body{
    background-color: #E8E8E8;
}

.div1 {
    background-color: white;
    text-align: center;
    width: 700px;
    margin: auto;
    margin-top: 150px;
    height: 600px;
}
h1 {
    font-size: 30px;
}
.logo1{
    height: 400px;
}